<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.8.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="AzureDiagnostics">
          <filter type="" />
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
  <connectionStrings>
    <add name="lostAndFoundDbEUEntities" connectionString="metadata=res://*/DataLayer.Database_Model.csdl|res://*/DataLayer.Database_Model.ssdl|res://*/DataLayer.Database_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=m4zmjsxf9b.database.windows.net;initial catalog=lostAndFoundDbEU;persist security info=True;user id=LostAndFoundServer;password=if2jcEvx;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="lostAndFoundDbEUEntities1" connectionString="metadata=res://*/DataLayer.Db_Model1.csdl|res://*/DataLayer.Db_Model1.ssdl|res://*/DataLayer.Db_Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=m4zmjsxf9b.database.windows.net;initial catalog=lostAndFoundDbEU;persist security info=True;user id=LostAndFoundServer;password=if2jcEvx;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="lostAndFoundDbEUEntities2" connectionString="metadata=res://*/DataLayer.Model1.csdl|res://*/DataLayer.Model1.ssdl|res://*/DataLayer.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=m4zmjsxf9b.database.windows.net;initial catalog=lostAndFoundDbEU;persist security info=True;user id=LostAndFoundServer;password=if2jcEvx;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="LostFoundFreeDBEntities" connectionString="metadata=res://*/DataLayer.FreeModel.csdl|res://*/DataLayer.FreeModel.ssdl|res://*/DataLayer.FreeModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=lostfoundfreeserver.database.windows.net;initial catalog=LostFoundFreeDB;persist security info=True;user id=lostfoundfreeadmin;password=if2jcEvx;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="localDBEntities" connectionString="metadata=res://*/DataLayer.LoaclModelTest.csdl|res://*/DataLayer.LoaclModelTest.ssdl|res://*/DataLayer.LoaclModelTest.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=C:\Users\Tomer\Desktop\LostAndFound\LostAndFound\localDB.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>